.header {
  font-family: "Raleway", Helvetica, Arial, sans-serif
}

a {
  color: #3b8bba;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #265778;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

#menu .brand {
  font-family: Raleway;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: none;
  background: transparent;
  text-decoration: none;
  margin: 0.5em 0;
}

#menu .pure-menu {
  font-size: 0.9em;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}

/*** Image scaling **/
img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

/*** Table related styles **/

.blackburn-table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
}
.blackburn-table th,
.blackburn-table td {
  padding: 10px 15px;
  vertical-align: middle;
}
.blackburn-table thead {
  background: #191818;
  background: linear-gradient(#191818, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.blackburn-table th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
.blackburn-table th:last-child {
  border-top-right-radius: 5px;
}
.blackburn-table tbody tr:nth-child(even) {
  background: #f0f0f2;
}
.blackburn-table td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
.blackburn-table td:first-child {
  border-left: 1px solid #cecfd5;
}
.blackburn-table tfoot {
  text-align: right;
}
.blackburn-table tfoot tr:last-child {
  background: #f0f0f2;
  color: #191818;
  font-weight: bold;
}
.blackburn-table tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.blackburn-table tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

/*** Reset CSS values to support Google Search Box **/
.yui3-cssreset html{color:#000;background:#FFF}.yui3-cssreset body,.yui3-cssreset div,.yui3-cssreset dl,.yui3-cssreset dt,.yui3-cssreset dd,.yui3-cssreset ul,.yui3-cssreset ol,.yui3-cssreset li,.yui3-cssreset h1,.yui3-cssreset h2,.yui3-cssreset h3,.yui3-cssreset h4,.yui3-cssreset h5,.yui3-cssreset h6,.yui3-cssreset pre,.yui3-cssreset code,.yui3-cssreset form,.yui3-cssreset fieldset,.yui3-cssreset legend,.yui3-cssreset input,.yui3-cssreset textarea,.yui3-cssreset p,.yui3-cssreset blockquote,.yui3-cssreset th,.yui3-cssreset td{margin:0;padding:0}.yui3-cssreset table{border-collapse:collapse;border-spacing:0}.yui3-cssreset fieldset,.yui3-cssreset img{border:0}.yui3-cssreset address,.yui3-cssreset caption,.yui3-cssreset cite,.yui3-cssreset code,.yui3-cssreset dfn,.yui3-cssreset em,.yui3-cssreset strong,.yui3-cssreset th,.yui3-cssreset var{font-style:normal;font-weight:normal}.yui3-cssreset ol,.yui3-cssreset ul{list-style:none}.yui3-cssreset caption,.yui3-cssreset th{text-align:left}.yui3-cssreset h1,.yui3-cssreset h2,.yui3-cssreset h3,.yui3-cssreset h4,.yui3-cssreset h5,.yui3-cssreset h6{font-size:100%;font-weight:normal}.yui3-cssreset q:before,.yui3-cssreset q:after{content:''}.yui3-cssreset abbr,.yui3-cssreset acronym{border:0;font-variant:normal}.yui3-cssreset sup{vertical-align:text-top}.yui3-cssreset sub{vertical-align:text-bottom}.yui3-cssreset input,.yui3-cssreset textarea,.yui3-cssreset select{font-family:inherit;font-size:inherit;font-weight:inherit}.yui3-cssreset input,.yui3-cssreset textarea,.yui3-cssreset select{*font-size:100%}.yui3-cssreset legend{color:#000}#yui3-css-stamp.cssreset-context{display:none}
