I am an entrepreneur who also happens to be formally trained as a biomedical engineer specializing in advanced algorithms and medical device designs. Check out what I'm working on <a href="/now">now</a>.

<br /><br />

My greatest accomplishment is marrying my best friend and starting a family with her. We now have 6 wonderful children and while they keep things "exciting", I couldn't imaging life any other way.

<br /><br />

Follow me on <a href="http://twitter.com/macrod">Twitter</a> and <a href="http://github.com/markfrodriguez">Github</a>
