<article class="link">
  <h2><a rel="remote-article" href="{{ .Params.externalurl }}">→ {{ .Title }}</a> <a href="{{ .Permalink }}">∞</a></h2>

  <div class="postmeta">Posted on <time datetime="{{ .Date }}" pubdate="">{{ .Date.Format "January 2, 2006" }}</time>
    {{ if (isset .Params "categories") }}
       in
      <span class="categories">
        {{ range $i, $v := .Params.categories }}
          <a class="category" href="/categories/{{ $v | urlize }}">{{ $v }}</a>{{ if ne (len $.Params.categories) (add $i 1) }}, {{ end }}
        {{ end }}
      </span>
    {{ end }}
  </div>

  <p>
    {{ .Content }}
  </p>
</article>
